# Development Env (Jetbrains, Vim, macOS), eslint
.idea/
*.swp
.DS_Store
/.eslintcache

#electron
/electron/assets
/electron/build-server
/electron/build-web
/electron/node_modules
/electron/output
/electron/package-lock.json

#server
/server/assets
/server/build-server
/server/node_modules
/server/userData
/server/package-lock.json

#web
/web/build-web/bundle.js.map
/web/node_modules
/web/package-lock.json